@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
  --primary__color: #023d3a;
  --secondary__color: #f9f5f0;
  --lightgreen__color: #ebf5f3;
  --dark__color: #333;
}

*{
  margin: 0rem;
  box-sizing: border-box;
}

html{
  font-size: 65.5%;
}
body{
  font-family: 'Poppins', sans-serif;
}

